{% extends 'skeleton.html' %}
{% block title %}Orders{% endblock %}
{% block body %}
<h1>Orders</h1>
<br>
<br>
<ol>
  {% for order in orders %}
  <li>
    Order ID: {{ order.id }}
    <br>
    Product Name: {{ order.book_name }}
    <br>
    Order Price: {{ order.order_price }}
    <br> 
    Order Quantity: {{ order.order_quantity }}
    <br>
    Customer: {{ order.customer_name }}
    <br>
    Customer Address: {{ order.customer_address }}
    <br>
    <br>
    <a href="/delete_order?oid={{ order.id }}&bid={{ order.book_id }}&bname={{ order.book_name }}">
      Delete
    </a>
    <br>
    <br>
  </li>
  {% endfor %}
</ol>
{% endblock %}