{% extends 'skeleton.html' %}
{% load static %}
{% block title %}Add{% endblock %}
{% block body %}
<h1>Add Book</h1>
<br>
<br>
<form id="confirmForm" method="POST" action="{% url 'add_book' %}">
  {% csrf_token %}
  Book name:
  <br>
  <input type="text" name="book_name" value="What is man">
  <br>
  <br>
  Book description:
  <br>
  <input type="text" name="book_description" value="A book about mankind">
  <br>
  <br>
  Book genre:&nbsp;
  <select name="book_genre">
    <option value="0">Fiction</option>
    <option value="1">Non-fiction</option>
  </select>  
  <br>
  <br>
  Book price:
  <br>
  <input type="number" min="1" step="0.01" name="book_price" value="10">
  <br>
  <br>
  Quantity:
  <br>
  <input type="number" min="1" step="1" name="in_stock" value="1">
  <br>
  <br>
  Book condition:
  <br>
  <input type="radio" name="book_type" value="new" checked> New<br>
  <input type="radio" name="book_type" value="used"> Used<br>
  <br>
  <div class="used-book-conditions">
    Condition:&nbsp;
    <select name="book_condition">
      <option value="0">Slightly Worn</option>
      <option value="1">Moderately Worn</option>
      <option value="2">Heavily Worn</option>
    </select>
  </div>
  <br>
  <input id="confirm" type="button" value="Submit" onclick="ask();">
</form>
<script src="{% static 'js/confirm.js' %}"></script>
<script src="{% static 'js/used_book.js' %}"></script>
{% endblock %}