{% extends 'skeleton.html' %}
{% block title %}Inventory{% endblock %}
{% block body %}
<h1>Inventory</h1>
{% if error %}
ERROR:&nbsp;{{ error }}
{% endif %}
<br>
<br>
<h3><a href="{% url 'add_book' %}">Add Book</a></h3>
<br>
<br>
<h3>All Books</h3>
<hr>
<ol>
    {% for book in books %}
    <li>
        Book Name: {{ book.name }}
        <br>
        Book ID: {{ book.id }}
        <br>
        Book Description: {{ book.description }}
        <br>
        Book Genre: {{ book.genre }}
        <br>
        Book Price: {{ book.price }}
        <br>
        In Stock: {{ book.in_stock }}
        <br>
        Last Modified: {{ book.last_modified }}
        <br>
        Book Type: {{ book.type }}
        <br>
        {% if book.condition %}
        Book Condition: {{ book.condition }}
        <br>
        {% endif %}
        <br>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
                <a href="/edit_book?name={{ book.name }}">Edit</a>
            </div>
            <div class="col-md-1">
                <a href="/delete_book?name={{ book.name }}">Delete</a>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <br>
    </li>
    <br>
    <br>
    {% endfor %}
</ol>
{% endblock %}