{% extends 'skeleton.html' %}
{% block title %}Inventory{% endblock %}
{% block body %}
<h1>Inventory</h1>
{% if error %}
ERROR:&nbsp;{{ error }}
{% endif %}
<br>
<br>
<h3><a href="/add_book">Add Book</a></h3>
<br>
<div class="row">
    <div class="col-md-6">
        <h3><a href="/new_books">New Books</a></h3>
    </div>
    <div class="col-md-6">
        <h3><a href="/used_books">Used Books</a></h3>
    </div>
</div>
<br>
<br>
<h3>All Books</h3>
<hr>
<ol>
    {% for book in books %}
    <li>
        Book Name: <a href="/edit_book?name={{ book['name'] }}">{{ book['name'] }}</a> 
        <br>
        Book ID: {{ book['_id']['$oid'] }}
        <br>
        Book Description: {{ book['description'] }}
        <br>
        Book Price: {{ book['price'] }}
        <br>
        In Stock: {{ book['in_stock'] }}
        <br>
        Last Modified: {{ book['last_modified'] }}
        <br>
        Book Type: {{ book['type'] }}
        <br>
        {% if book['condition'] %}
            Book Condition: {{ book['condition'] }}
            <br>
        {% endif %}
    </li>
    <br>
    <br>
    {% endfor %}
</ol>
{% endblock %}