{% extends 'skeleton.html' %} 
{% block title %}Upload{% endblock %}
{% block body %}
<div class="container-fluid text-center">
  <div class="row">
    <h1>Todo</h1>
    <br>
    <br>
    <form method="POST" action="{{ url_for('serve_upload_todo') }}">
      Todo name:
      <br>
      <input type="text" name="todo_name" value="Refactor">
      <br>
      <br>
      Todo description:
      <br>
      <input type="text" name="todo_desc" value="Re-iterate over code you wrote">
      <br>
      <br>   
      <input type="submit" value="Submit">
    </form> 
    </div>
</div>
{% endblock %}