{% extends 'skeleton.html' %} 
{% block title %}Used Books{% endblock %}
{% block body %}
<h1>Used Books</h1>
<br>
<br>
<ol>
    {% for book in books %}
    <li>
        Book Name: <a href="/edit_book?name={{ book['name'] }}">{{ book['name'] }}</a> 
        <br>
        Book ID: {{ book['_id']['$oid'] }}
        <br>
        Book Type: {{ book['type'] }}
        <br>
        Book Description: {{ book['description'] }}
        <br>
        Book Price: {{ book['price'] }}
        <br>
        In Stock: {{ book['in_stock'] }}
        <br>
        Last Modified: {{ book['last_modified'] }}
        <br>
        Book Type: {{ book['type'] }}
        <br>
        Book Condition: {{ book['condition'] }}
    </li>
    <br>
    <br>
    {% endfor %}
</ol>
{% endblock %}